<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__navigation">
        <a href="" class="nav-brand">Fi Shop</a>
        <ul class="nav-list">
          <li class="nav-item"><a href="" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="" class="nav-link">About</a></li>
          <li class="nav-item"><a href="" class="nav-link">Contact Us</a></li>
          <li class="nav-item"><a href="" class="nav-link">Gallery</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="banner">
        <img
          src="https://images.unsplash.com/photo-1614851099175-e5b30eb6f696?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGJhbm5lcnxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80"
          alt=""
          class="banner-img"
        />
      </div>

      <div class="feature-section section">
        <div class="container">
        <div class="header-section">
          <h1>Our Features</h1>
        </div>
       
          <div class="feature-container">
            <div class="feature-item">
                <div class="feature-logo">
              <img
                src="https://cdn-icons-png.flaticon.com/512/1312/1312139.png"
                alt=""
                width="72"
                height="72"
              />
            </div>           
              <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia molestias neque repellat, aliquid reprehenderit officiis esse fuga distinctio quasi fugit natus quo magni soluta. Neque voluptas ducimus dolore, placeat optio laboriosam nostrum temporibus eligendi? Minima neque eveniet ut ex illum optio voluptatem enim assumenda itaque, aperiam, incidunt possimus libero? Incidunt?
              </p>
            </div>    

            <div class="feature-item">
                <div class="feature-logo">
              <img
                src="https://cdn-icons-png.flaticon.com/512/1312/1312139.png"
                alt=""
                width="72"
                height="72"
              />
            </div>           
              <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia molestias neque repellat, aliquid reprehenderit officiis esse fuga distinctio quasi fugit natus quo magni soluta. Neque voluptas ducimus dolore, placeat optio laboriosam nostrum temporibus eligendi? Minima neque eveniet ut ex illum optio voluptatem enim assumenda itaque, aperiam, incidunt possimus libero? Incidunt?
              </p>
            </div>    

            <div class="feature-item">
                <div class="feature-logo">
              <img
                src="https://cdn-icons-png.flaticon.com/512/1312/1312139.png"
                alt=""
                width="72"
                height="72"
              />
            </div>           
              <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia molestias neque repellat, aliquid reprehenderit officiis esse fuga distinctio quasi fugit natus quo magni soluta. Neque voluptas ducimus dolore, placeat optio laboriosam nostrum temporibus eligendi? Minima neque eveniet ut ex illum optio voluptatem enim assumenda itaque, aperiam, incidunt possimus libero? Incidunt?
              </p>
            </div>    
            
           
          </div>
        </div>
      </div>

      
    </main>
  </body>
</html>
